/* Start Common fonts, Navbar, Footer & Background */
@font-face {
    font-family: Montauk;
    font-weight: Regular;
    src: url(/fonts/Montauk-Regular.otf) format("opentype");
}

.montaukFont {
    font-family: 'Montauk';
    color: #5F002B;
}

.navbar {
    margin-bottom: 1%;
}

.paddingRightZeroed {
    padding-right: 0px !important;
    /* used in navbar */
}

.overallMarginLR {
    margin-left: 7.3%;
    margin-right: 7.3%;
    /* used in navbar */
}
.navbar-nav .nav-link {
    font-size: 20px;
    color: #5F002B;
    font-family: 'Fugaz One';
    font-weight: normal;
    margin-left: 61px;
}

.background-image { 
    background-repeat:repeat;
    width: 600px;
    height: 400px;
}

.fontColor {
    color:#5F002B;
}

.footerPaddingL{
    padding-left: 0px !important;
}

.footerPaddingR{
    padding-right: 0px !important;
}

.footerFontMargin {
    margin-bottom: 10px;
}

body {
    background-image: url('../images/bgtexture.jpg');
    background-size: cover; 
    background-position: center; 
    /* background-repeat: no-repeat;  */
    color: #5F002B;
    /* all text same color added in previous line for this page */
}

/* End Common fonts, Navbar, Footer & Background */

/* Start Current Page Styles */

.ribbonBg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    font-family: 'Fugaz One';
    margin-bottom: 2rem;
}

.ribbonText {
    margin:auto;
    /* padding: 1rem; */
}

.photoGrid {
    margin-bottom: 2rem;
}

.photoStyle {
    min-height: 100%;
    object-fit: cover;
    border: 1vw #FFFFFF solid;
}
/* End Current Page Styles */