/* Start Common fonts, Navbar, Footer & Background */
@font-face {
    font-family: Montauk;
    font-weight: Regular;
    src: url(/fonts/Montauk-Regular.otf) format("opentype");
}

.montaukFont {
    font-family: 'Montauk';
    color: #5F002B;
}

.navbar {
    margin-bottom: 1%;
}
.navbar-nav .nav-link {
    font-size: 20px;
    color: #5F002B;
    font-family: 'Fugaz One';
    font-weight: normal;
    margin-left: 61px;
}

.background-image { 
    background-repeat:repeat;
    width: 600px;
    height: 400px;
}

.fontColor {
    color:#5F002B;
}

.footerPaddingL{
    padding-left: 0px !important;
}

.footerPaddingR{
    padding-right: 0px !important;
}

.footerFontMargin {
    margin-bottom: 10px;
}

body {
    background-image: url('../images/bgtexture.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* End Common fonts, Navbar, Footer & Background */

/* Start Current Page Styles */
/* Start Catering Section Styles */
h1{
    font-family: 'Fugaz One';
    font-weight: normal;
    font-size: 50px;
    padding-top: 8px;
}

.cateringBg {
    background-color: #FFFFFF;
    
}
/* End Catering Section Styles */

/* Start Hero Image Section */
.heroImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 4.65%;
    /* width: 50%; */

}
/* End Hero Image Section */

/* Start of Services Section */
.servBg {
    background-color: #FFFFFF;
}
h3 {
    font-family: 'Fugaz One';
    font-size: 1.875rem;
}
p {
   font-size: 1.25rem; 
   /* !!!! need to fix spacing between lines!!!!! */
}
/* End of Services Section */


/* test margins / padding */
.mainContainerMargins {
    margin-left: 140px !important;
    margin-right: 140px !important;
}

.paddingRightZeroed {
    padding-right: 0px !important;
}

.paddingLeftZeroed {
    padding-left: 0px !important;
}

.marginBottomBottom {
    margin-bottom: 4.65%;
}
/* End Current Page Styles */








/* !!!!TRASH / OLD CODE BELOW!!! */
/* .footerMarginLeft {
    margin-left: 140px;
}

.footerMarginRight {
    margin-right: 140px;
} */